body {
    background-image: url(Fundo.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 240vw;
    width: auto;
}
#inicio {
    position: absolute;
width: 1440px;
height: 960px;
left: 0px;
top: 0px;
}
#po {
    position: absolute;
width: 194px;
height: 48px;
left: 979px;
top: 61px;
}
#so {
    position: absolute;
width: 168px;
height: 48px;
left: 765px;
top: 61px;
}
#m {
    position: absolute;
width: 98px;
height: 48px;
left: 621px;
top: 61px;
}
#slogan {
    position: absolute;
width: 679px;
height: 198px;
left: 380px;
top: 480px;

font-family: 'Rosario';
font-style: normal;
font-weight: 700;
font-size: 72px;
line-height: 87px;
text-align: center;

color: rgba(255, 255, 255, 0.9);

text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
#pedido {
    position: absolute;
width: 259px;
height: 93px;
left: 590px;
top: 788px;

filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
border: 3px;

}
#produtos {
    position: absolute;
width: 1440px;
height: 1024px;
left: 0px;
top: 960px;
}
#cardapio {
    position: absolute;
width: 595px;
height: 150px;
left: 422px;
top: 73px;

font-family: 'Rosario';
font-style: normal;
font-weight: 500;
font-size: 60px;
line-height: 73px;
text-align: center;

color: #000000;

}
#sobre {
    position: absolute;
width: 1441px;
height: 1024px;
left: -5px;
top: 1984px;
}
#qs {
    position: absolute;
width: 419px;
height: 103px;
left: 258px;
top: 200px;

font-family: 'Rosario';
font-style: normal;
font-weight: 700;
font-size: 40px;
line-height: 48px;

color: rgba(0, 0, 0, 0.77);

text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
#ts {
    position: absolute;
width: 544px;
height: 240px;
left: 163px;
top: 282px;

font-family: 'Rosario';
font-style: normal;
font-weight: 400;
font-size: 40px;
line-height: 48px;
display: flex;
align-items: center;

color: rgba(0, 0, 0, 0.77);

text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
#dc {
    position: absolute;
width: 581px;
height: 102px;
left: 126px;
top: 635px;

font-family: 'Rosario';
font-style: italic;
font-weight: 300;
font-size: 40px;
line-height: 48px;

color: rgba(0, 0, 0, 0.75);

text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
#contato {
    position: absolute;
width: 1450px;
height: 604px;
left: 0px;
top: 3108px;
}
#h {
    position: absolute;
width: 123px;
height: 0px;
left: 832px;
top: 123px;

font-family: 'Rosario';
font-style: normal;
font-weight: 500;
font-size: 40px;
line-height: 48px;

color: #FFFFFF;

text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
#b {
    position: absolute;
width: 275px;
height: 0px;
left: 1209px;
top: 136px;

font-family: 'Rosario';
font-style: normal;
font-weight: 500;
font-size: 40px;
line-height: 48px;

color: #FFFFFF;

text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
#c {
    position: absolute;
    width: 207px;
    height: 0px;
    left: 832px;
    top: 230px;
    
    font-family: 'Rosario';
    font-style: normal;
    font-weight: 500;
    font-size: 40px;
    line-height: 48px;
    
    color: #FFFFFF;
    
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
#s {
    position: absolute;
    width: 228px;
    height: 0px;
    left: 1209px;
    top: 224px;
    
    font-family: 'Rosario';
    font-style: normal;
    font-weight: 500;
    font-size: 40px;
    line-height: 48px;
    
    color: #FFFFFF;
    
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
#tc {
    position: absolute;
    width: 377px;
    height: 0px;
    left: 832px;
    top: 330px;
    
    font-family: 'Rosario';
    font-style: normal;
    font-weight: 500;
    font-size: 40px;
    line-height: 48px;
    
    color: #FFFFFF;
    
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.barra:hover {
    color: #ffffff;
}
#se {
    position: absolute;
    width: 55px;
    height: 55px;
    left: 0px;
    top: 493px;
}
#cup {
    position: absolute;
    width: 398px;
    height: 516px;
    left: 67px;
    top: 330px;
}
#tor {
    position: absolute;
    width: 398px;
    height: 519px;
    left: 521px;
    top: 327px;
}
#bis {
    position: absolute;
    width: 398px;
    height: 516px;
    left: 975px;
    top: 330px;
}
#sd {
    position: absolute;
    width: 55px;
    height: 55px;
    left: 1440px;
    top: 507px;
}