body {
    background-image: url(Fundo.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 240vw;
    width: auto;
}
#inicio {
    position: absolute;
width: 1440px;
height: 960px;
left: 0px;
top: 0px;
}